@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

@font-face {
  font-family: "Cabin", sans-serif;
  src: local("Cabin"),
    url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap");
  font-display: swap;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: local("Poppins"),
    url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
  font-display: swap;
}

:root {
  --main-bg: #062844;
  --secondary: #7e96b9;
  --third-bg: #3c5574;
  --body--text: #f5f5f7;
  --yellow: #ffed5a;
  --dark-grey: #a2acbd;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--main-bg);
  min-width: 375px;
}
/* 
from 0px up to 426px
 */

/*  TODO: On hover, try the glitch effect */

.hero {
  height: 538px;
  background-image: linear-gradient(rgba(6, 41, 70, 0.5), rgba(6, 41, 70, 0.5)),
    url(../images/jesus-kiteque-wn-KYaHwcis-unsplash.jpg);
  background-clip: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.left__thing {
  height: 80px;
  width: 48px;
  border-left: 5px solid var(--body--text);
  border-top: 5px solid var(--body--text);
  position: absolute;
}

.right__thing {
  height: 80px;
  width: 224px;
  border-right: 5px solid var(--body--text);
  border-top: 5px solid var(--body--text);
  position: absolute;
  top: 0;
  right: 0;
}

.logo {
  font-family: "Ubuntu", sans-serif;
  color: var(--body--text);
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

.hamburger {
  padding: 12px 0 0 12px;
}

.navbar--mobile {
  position: relative;
  top: 1.2rem;
  left: 1rem;
  background: #062844e0;
  min-width: 14rem;
  max-width: 40%;
  border-radius: 5px;
  box-shadow: 2px 1px 12px 1px var(--third-bg);
}

.navbar--mobile--hidden {
  background: none;
  box-shadow: none;
}

.navbar--large {
  display: none;
}

.navbar--lg__item {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: var(--body--text);
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar--large .navbar--lg__item {
  transition: opacity 0.2s, font-size 0.2s;
}

.navbar--large:hover .navbar--lg__item:hover {
  font-size: 18px;
}

.navbar--large:hover .navbar--lg__item:not(:hover) {
  opacity: 0.4;
}

.navbar__menu--mobile {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem 0 2rem;
}

.navbar__menu--mobile-hidden {
  visibility: hidden;
}

.navbar__item {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: var(--body--text);
  text-decoration: none;
  display: flex;
  cursor: pointer;
  /* gap: 8px; */
  /* align-items: flex-start; */
}

.navbar__item img {
  margin-right: 8px;
}

.navbar__item:not(:last-child) {
  padding: 1rem 0;
  border-bottom: 0.5px solid #a8b2c347;
}

.navbar__item:last-child {
  padding: 1rem 0 2rem 0;
}

.navbar__menu--mobile .navbar__item {
  transition: opacity 0.2s;
}

.navbar__menu--mobile:hover .navbar__item:not(:hover) {
  opacity: 0.5;
}

.icons {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 1rem;
  /* gap: 1rem; */
}

.icons a:nth-child(2) {
  margin: 0 1rem;
}

.square:nth-child(1):hover {
  background: #4267b2;
}

.square:nth-child(2):hover {
  background: #1da1f2;
}

.square:nth-child(3):hover {
  background: #000;
}

.social_icons {
  width: 16px;
  height: 16px;
  padding: 8px 8px;
  border: 1px solid var(--body--text);
  text-align: center;
  color: var(--body--text);
}

.hero__content {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: var(--body--text);
  text-align: center;
  margin-top: 8rem;
}

#hero__js {
  font-weight: bold;
  transition: all ease-out 1s;
}
#hero__js:hover {
  color: var(--yellow);
}

.sec__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary);
  font-weight: bold;
  margin-top: 5rem;
}

.em-dash-left {
  font-weight: normal;
  margin-right: 8px;
  letter-spacing: -6px;
}

.em-dash-right {
  font-weight: normal;
  margin-left: 4px;
  letter-spacing: -6px;
}

.skill__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill__container:nth-child(2) {
  margin: 1.5rem 0;
}

.skill__container:hover .chevron-left {
  animation: pointingR 1s infinite;
  visibility: visible;
  margin-right: 8px;
}

.skill__container:hover .chevron-right {
  animation: pointingL 1s infinite;
  visibility: visible;
  margin-left: 8px;
}

.skills__boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1.5rem; */
}

.skill__box-title {
  color: var(--secondary);
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background: var(--body--text);
  text-align: center;
  box-sizing: border-box;
  padding: 11px 16px;
  cursor: pointer;
  z-index: 1000;
  outline: none;
  border: none;
  width: fit-content;
  box-shadow: 0 0 0 0 rgba(230, 237, 255, 0.7);
  animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);

  /* box-shadow: 5px 5px 1px 0px var(--third-bg); */
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 10px rgba(230, 237, 255, 0);
  }
}

.skill__box-title:focus {
  animation: none;
}

.skill__box-title:focus .chevron-left {
  animation: pointingR 1s infinite;
  visibility: visible;
  margin-right: 8px;
}

.skill__box-title:focus .chevron-right {
  animation: pointingL 1s infinite;
  visibility: visible;
  margin-left: 8px;
}

.skill__box-title-darkSh {
  box-shadow: 5px 5px 1px 0px var(--main-bg);
}

.chevron {
  vertical-align: middle;
  visibility: hidden;
  transition: all ease-in-out 0.1s;
}

.chevron-right {
  transform: rotate(-180deg);
}

@keyframes pointingR {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-8px);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes pointingL {
  0% {
    transform: translateX(0%) rotate(-180deg);
  }

  50% {
    transform: translateX(8px) rotate(-180deg);
  }

  100% {
    transform: translateX(0%) rotate(-180deg);
  }
}

.skill__box {
  background: var(--third-bg);
  transform: translateY(-1rem);
  padding: 0 1rem 1.5rem 1rem;
  box-shadow: 5px 5px 1px 0px var(--body--text);
  transition: all ease-in-out 0.5s;
  display: none;
  margin: 0 2rem;
}

.skills__box-visible {
  display: block;
  max-width: 21rem;
}

.skill__box-text {
  font-family: "Cabin", sans-serif;
  color: var(--body--text);
  margin-top: 2.2em;
  line-height: 1.5em;
  text-align: center;
}

.skills__logos {
  width: 226px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  /* gap: 2.5rem; */
}
.skills__logos img:nth-child(2) {
  margin: 0 2.5rem;
}

.skills__logos img:nth-child(4) {
  margin: 1.5rem 2.5rem 0 2.5rem;
}

.skills__logos img:nth-child(5) {
  margin-top: 1.5rem;
}

.skill-logo {
  width: 46px;
}

.projects__boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* gap: 1.5rem; */
}

.project__container {
  position: relative;
  overflow: hidden;
}

.project__container:nth-child(2n) {
  margin: 1.5rem 0;
}

.project__box {
  border: 1px solid #efe7f6;
  padding: 8px 0;
  width: 336px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.project__img {
  width: 320px;
  height: 180px;
  object-fit: cover;
  object-position: center;
  transition: all ease-in-out 0.25s;
}

.project__container:hover .overlay {
  transform: translateY(0%);
}

.project__details {
  display: flex;
  position: relative;
  bottom: 2rem;
  align-items: baseline;
  font-size: 20px;
  gap: 11rem;
  margin: 0 auto;
}

.overlay {
  width: 320px;
  height: 180px;
  background: var(--body--text);
  display: flex;
  flex-direction: column;
  padding: 8px 24px;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  align-items: center;
  position: absolute;
  top: 9px;
  left: 9px;
  opacity: 1;
  transition: all ease-in-out 0.25s;
  transform: translateY(108%);
}

.overlay__content {
  display: flex;
  flex-direction: column;
}

.overlay__title {
  margin: 0;
  color: var(--main-bg);
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  max-height: 80px;
}

.tag {
  width: 40px;
  text-align: center;
  color: var(--body--text);
  font-family: "Cabin", sans-serif;
  font-weight: normal;
  font-size: 10px;
  background: var(--main-bg);
  padding: 2px;
  box-sizing: border-box;
  border-radius: 4px;
}

.right-content {
  color: var(--third-bg);
  font-family: "Cabin", sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  text-align: justify;
  margin-bottom: 8px;
}

.overlay__buttons {
  display: flex;
  margin-top: 8px;
  justify-content: space-evenly;
}

.over__icons {
  font-size: 1.5rem;
  color: var(--main-bg);
  box-shadow: 2px 2px 3px 1px var(--third-bg);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.over__icons:hover {
  box-shadow: 2px 2px 3px -1px var(--third-bg);
}

.square--small {
  width: 24px;
  height: 24px;
  border: 1px solid var(--dark-grey);
}

.square-dark {
  border: 1px solid var(--main-bg);
  box-shadow: 2px 2px 1px 0px var(--main-bg);
}

.contact__subtitle {
  color: var(--body--text);
  font-weight: bold;
  font-family: "Cabin", sans-serif;
  text-align: center;
}

.contact__cooperate {
  color: var(--body--text);
  font-weight: normal;
  font-family: "Cabin", sans-serif;
  margin: 0 2em;
  line-height: 1.5em;
  text-align: center;
}

.contact__form {
  display: flex;
  flex-direction: column;
  margin: 1.5em 2em 4em 2em;
  align-items: center;
  max-width: 352px;
  transition: all linear 0.5s;
}

.field {
  margin-bottom: 1.5em;
  height: 40px;
  box-sizing: border-box;
  border: none;
  border-top: 3px solid var(--secondary);
  background: var(--third-bg);
  color: var(--body--text);
  font-size: 1rem;
  font-weight: normal;
  font-family: "Cabin", sans-serif;
  padding: 0 1em;
  width: 100%;
  letter-spacing: 1px;
}

.field::placeholder {
  color: var(--body--text);
}

.field:focus::placeholder {
  opacity: 0.25;
}

.area-field {
  resize: vertical;
  min-height: 11em;
  padding-top: 1em;
  line-height: 1.5em;
}

.form__btn {
  background: var(--third-bg);
  border-bottom: 4px solid #718096;
  border-top: none;
  border-left: none;
  border-right: none;
  color: var(--body--text);
  outline: none;
  font-size: 1rem;
  font-weight: normal;
  font-family: "Cabin", sans-serif;
  padding: 1em;
  width: 7em;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.form__btn:hover {
  border-bottom-width: 0;
  margin-top: 3px;
}

.footer {
  background: var(--third-bg);
  text-align: center;
  padding-top: 1rem;
  box-sizing: border-box;
}

.logo-footer {
  font-family: "Poppins", sans-serif;
  color: var(--body--text);
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
}

.footer__msg {
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  color: var(--body--text);
  font-weight: lighter;
  margin-top: 8px;
  margin-bottom: 1.5rem;
}

.footer_icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 144px;
  margin: auto;
}

.square-footer {
  width: 32px;
  height: 32px;
  border: 1px solid var(--dark-grey);
}

.footer__credits {
  font-family: "Cabin", sans-serif;
  font-size: 12px;
  color: var(--body--text);
  display: flex;
  margin: 1.5rem 1rem 0rem 1rem;
  justify-content: space-between;
  align-items: stretch;
}

.footer__credits p {
  margin-bottom: 0;
}

.footer_heart {
  color: red;
}

.netlify_footer {
  width: 4rem;
}

.footer_links {
  color: #5eb9da;
  font-weight: bold;
  text-decoration: none;
}

.footer_links:hover {
  color: #0097fb;
}

.credit_aligned {
  display: inline-block;
  margin-top: 7px;
}

/* 
from 426px up to 767px
 */
@media screen and (min-width: 426px) {
  .contact__cooperate {
    max-width: 26em;
    margin: auto;
  }

  .contact__form {
    margin: 1.5em auto 4em;
  }
}

/* 
up to 767px
 */
@media screen and (max-width: 767px) {
  header {
    box-sizing: border-box;
    height: 5rem;
    position: relative;
  }
  .logo {
    margin-left: 5rem;
  }

  .footer__credits {
    justify-content: space-evenly;
  }
}

/* 
from 768px up to 1119px
 */
@media screen and (min-width: 768px) {
  header {
    box-sizing: border-box;
    height: 7rem;
    position: relative;
  }

  .navbar--mobile {
    top: 2rem;
    left: 2rem;
    max-width: 30%;
  }

  .logo {
    margin-left: 6rem;
    font-size: 2rem;
  }

  .icons {
    right: 1.5rem;
    /* gap: 1.5rem; */
  }
  .icons a:nth-child(2) {
    margin: 0 1.5rem;
  }

  .hero__content {
    margin-top: 4rem;
  }

  .skill__box-title {
    box-shadow: 5px 5px 1px 0px var(--main-bg);
    animation: none;
  }

  .skills__boxes {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    max-width: 700px;
    margin: auto;
  }

  .skill__container {
    width: 21rem;
  }

  .skill__container:nth-child(2) {
    margin-left: 1.5rem;
  }

  .sec__title {
    font-size: 2rem;
    margin-top: 8rem;
    margin-bottom: 3rem;
  }

  .skill__box {
    margin: 0;
    display: block;
    max-width: 21rem;
  }

  .project__container:nth-child(2n) {
    margin-left: 1.5rem;
    margin-top: 0;
  }

  .projects__boxes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    max-width: 700px;
    margin: auto;
  }

  .contact__subtitle {
    font-size: 1.5rem;
    margin: 0 auto 1.5rem auto;
  }

  .contact__cooperate,
  .field,
  .form__btn {
    font-size: 18px;
  }

  .contact__form {
    margin: 1.5em 2em 4em 2em;
    max-width: 28rem;
    margin: 2rem auto 6rem;
  }

  .footer__msg {
    font-size: 1.5rem;
  }

  .footer_icons {
    width: 12rem;
  }

  .footer__credits {
    font-size: 14px;
    width: 40rem;
    margin: 1.5rem auto 0rem;
    justify-content: space-evenly;
  }
}

/* TODO: hero image position  */
/* @media screen and (min-width: 845px) {
  .hero {
    height: 769px;
  }
} */

@media screen and (min-width: 1024px) {
  .navbar--mobile {
    display: none;
  }

  .navbar--large {
    display: flex;
    position: relative;
    top: 3.5rem;
    align-items: center;
    justify-content: space-between;
    max-width: 50%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1120px) {
  header {
    height: 13rem;
  }
  .hero {
    height: 700px;
  }

  .hero__content {
    font-size: 2.5rem;
    margin-top: 6rem;
  }

  .navbar--large {
    top: 9.5rem;
  }

  .icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 3rem;
    /* gap: 18px; */
  }

  .icons a:nth-child(2) {
    margin: 18px 0;
  }

  .skills__boxes {
    max-width: 100%;
    margin: auto;
  }

  .skill__container:nth-child(2) {
    margin: 0 1.5rem;
  }

  .project__container:nth-child(2n) {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 0;
  }

  .projects__boxes {
    max-width: 67rem;
    margin: auto;
  }

  .contact__cooperate {
    max-width: 34em;
    margin: auto;
  }
}

@media screen and (min-width: 1366px) {
  .hero {
    height: 775px;
    background-position: center 90%;
  }

  header {
    max-width: 1366px;
    margin: auto;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    height: 850px;
    background-position: center 160%;
  }
}

@media screen and (min-width: 1441px) {
  .hero {
    height: 1077px;
    background-position: center 160%;
  }
}
